<a href="/restaurants">See All Restaurants</a>
<a href="/users">See All Users</a>
<a href="/users/new">Add User</a>
<a href="/restaurants/new">Add Restaurants</a>

<h2>Edit User <%=@user.name%></h2>

<form action="/users/<%=@user.id%>/edit" method="post">
<input type="hidden" id="hidden" name="_method" value="patch">

  <label>Name: </label>
    <input type="text" name="user[name]" value="<%= @user.name%>">

  <input type="submit" value="Submit">
</form>
