<h3>Add Restaurant</h3>

<form action="/restaurants" method="post">
  <label>Name</label>
    <input type="text" name="restaurant[name]">
  <label>Rating</label>
    <input type="text" name="restaurant[rating]">
  <label>Address</label>
    <input type="text" name="restaurant[address]" >

  <input type="submit" value="Submit">
</form>
